body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #333;
}

input {
  display: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  color: #333;
}

#preview {
  margin-top: 20px;
  max-width: 100%;
  display: none;
}